@charset "UTF-8";

article#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
}

/* Tive que colocar em hardcode o scrolling="no" no iframe para desativar as barras de rolagem. aparentemente o ::-webkit-scrollbar não funcionou. */

/* iframe#frame-spec::-webkit-scrollbar {
    display: none;
} */ 